<a href="https://colab.research.google.com/github/tmoura/softexIA/blob/main/3_MiniTutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Minicurso de Pandas

Carregamento dos Dados

In [3]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/iris.data"

#url = "/content/sample_data/transfusion.data"

df = pd.read_csv(url, header=None) # Carregar dataset

columns = len(df.columns)

y = df[0] # extrai a primeira coluna, que é o label
X = df.loc[:,1:columns-1]

Criando um DataFrame

In [41]:
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

df = pd.DataFrame(data, columns=['País','Capital','População'])

df

      País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654

Copiar DataFrame

In [ ]:
df2 = df.copy()

df2['Capital'] = 'teste'

display(df2)

display(df)

Informações sobre o dataset

In [ ]:
df.info()

Descrição do dataset

In [ ]:
#df = df.drop('População',axis=1)
df.describe()

Dimensão do dataset

In [23]:
df.shape

(3, 3)

Pegar apenas algumas linhas do DF

In [ ]:
df.head(2) # mostra apenas as 2 primeiras linhas
#df.head()  # mostra apenas as 5 primeiras linhas

Ordenando os dados do DF

In [ ]:
df = df.sort_values('Capital')
#df.sort_values('Capital',inplace=True)

display(df)

#Ordenando em ordem decrescente
df = df.sort_values('Capital',ascending=False)

display(df)

Descrição dos ÍNDICES e COLUNAS

In [ ]:
display(df.index)

display(df.columns)

Uso do "loc" e "iloc"

loc é usado para selecionarmos linhas e colunas usando o label

iloc é usado para cessar as linhas e colunas pelo índice

In [ ]:

print(df.columns.values, '\n')

print(df.loc[:,'Capital'], '\n') # qualquer linha, coluna Capital
print(df.loc[1,'Capital'], '\n') # linha 1, coluna 'Capital'

print(df.iloc[:,1], '\n') # qualquer linha, coluna 1
print(df.iloc[1,1], '\n') # linha 1, coluna 1

Removendo linhas/colunas

In [ ]:
#df.drop('Capital') #ERRO
df.drop('Capital',axis=1) # Apaga a coluna 'Capital' inteira

df.drop(1) # Apaga a linha 1 inteira

#display(df)

Nova Coluna em um DataFrame

In [ ]:
df['Nova Coluna'] = 0

df

Nova Linha em um DataFrame

In [ ]:
cols =  ['País', 'Capital', 'População']

new_line = ['Argentina','Buenos Aires',153700]
new_line = pd.DataFrame([new_line], columns=cols)

df = pd.concat([df,new_line],ignore_index = True)

df

Resumo dos Dados

In [ ]:
#Soma dos valores de um DataFrame
print(df.sum(),'\n')

#Menor valor de um DataFrame
print(df.min(),'\n')

#Maior valor
print(df.max(),'\n')

#Média dos valores
print(df.mean(),'\n')

#Mediana dos valores
print(df.median(),'\n')

Filtragem do DataFrame

In [ ]:
df[df['População'] % 2 == 0]

### Funções Importantes - Scikit Learning

Normalização de uma Coluna

In [ ]:
import pandas as pd

data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

df = pd.DataFrame(data, columns=['País','Capital','População'])

# Normalização: Deixar os valores entre 0 e 1

from sklearn.preprocessing import MinMaxScaler
import numpy as np

# O uso de -1 indica que vc não sabe o tamanho da dimensão. A matrix vai se ajustar automaticamente
df['População'] = MinMaxScaler().fit_transform(np.array(df['População']).reshape(-1,1))

df

De categórico para numérico

In [ ]:
from sklearn.preprocessing import LabelBinarizer

teste = LabelBinarizer().fit_transform(df['Capital'])

new_df = pd.DataFrame(teste)

df_final = pd.concat([df,new_df],axis=1) # concatena na coluna com axis=1, default axis=0

df_final = df_final.drop('Capital',axis=1)

df_final

Transformar de DataFrame ou Series para LIST PYTHON

In [46]:
df.values.tolist()

[['Bélgica', 'Bruxelas', 0.0],
 ['Índia', 'Nova Delhi', 0.38570729319628],
 ['Brasil', 'Brasília', 1.0]]

### NumPy

ARRAY: Transformar um DataFrame ou Serie em Array

In [ ]:
import numpy as np

pop = df['População']

pop_array = np.array(pop)

pop_array[0]

ARRAY de Zeros

In [ ]:
import numpy as np

matrix_zeros = np.zeros((4,3))

matrix_zeros

ARRAY de 1

In [ ]:
import numpy as np

matrix_ones = np.ones((4,3))

matrix_ones

Ordenação

In [ ]:
import numpy as np

arr = np.array([3,1,0,9,4,7])

np.sort(arr)