<a href="https://colab.research.google.com/github/tmoura/softexIA/blob/main/3_MiniTutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Minicurso de Pandas

Carregamento dos Dados

In [1]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/iris.data"

df = pd.read_csv(url, header=None) # Carregar dataset

Criando um DataFrame

In [ ]:
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

df = pd.DataFrame(data, columns=['País','Capital','População'])

df

Informações sobre o dataset

In [ ]:
df.info()

Descrição do dataset

In [ ]:
df.describe()

Dimensão do dataset

In [ ]:
df.shape

Pegar apenas algumas linhas do DF

In [ ]:
df.head(5) # mostra apenas as 5 primeiras linhas
df.head()  # mostra apenas as 5 primeiras linhas

Descrição dos ÍNDICES e COLUNAS

In [ ]:
print(df.index)

print(df.columns)

Uso do "loc" e "iloc"

loc é usado para selecionarmos linhas e colunas usando o label

iloc é usado para cessar as linhas e colunas pelo índice

In [ ]:
print(df.columns.values, '\n')

print(df.loc[:,'Capital'], '\n') # qualquer linha, coluna Capital
print(df.loc[1,'Capital'], '\n') # todas as colunas da linha 1, igual a "df.loc[1,:]"

print(df.iloc[:,1], '\n') # qualquer linha, coluna 1
print(df.iloc[1,1], '\n') # todas as colunas da linha 1

Removendo linhas/colunas

In [ ]:
#df.drop('Capital') #ERRO
df.drop('Capital',axis=1) # Apaga a coluna 'Capital' inteira

df.drop(1) # Apaga a linha 1 inteira

Nova Coluna em um DataFrame

In [33]:
df['Nova Coluna'] = 0

df

      País     Capital  População  Nova Coluna
0  Bélgica    Bruxelas   0.000000            0
1    Índia  Nova Delhi   0.385707            0
2   Brasil    Brasília   1.000000            0

Nova Linha em um DataFrame

In [ ]:
cols =  ['País', 'Capital', 'População']

new_line = ['Argentina','Buenos Aires',153700]
new_line = pd.DataFrame([new_line], columns=cols)

df = pd.concat([df,new_line],ignore_index = True)

df

Resumo dos Dados

In [ ]:
#Soma dos valores de um DataFrame
print(df.sum(),'\n')

#Menor valor de um DataFrame
print(df.min(),'\n')

#Maior valor
print(df.max(),'\n')

#Média dos valores
print(df.mean(),'\n')

#Mediana dos valores
print(df.median(),'\n')

Filtragem do DataFrame

In [ ]:
df[df['População'] % 2 == 0]

### Funções Importantes - Scikit Learning

Normalização de uma Coluna

In [42]:
import pandas as pd

data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

df = pd.DataFrame(data, columns=['País','Capital','População'])

# Normalização: Deixar os valores entre 0 e 1

from sklearn.preprocessing import MinMaxScaler
import numpy as np
  
# O uso de -1 indica que vc não sabe o tamanho da dimensão. A matrix vai se ajustar automaticamente
df['População'] = MinMaxScaler().fit_transform(np.array(df['População']).reshape(-1,1))
   
df

      País     Capital  População
0  Bélgica    Bruxelas   0.000000
1    Índia  Nova Delhi   0.385707
2   Brasil    Brasília   1.000000

De categórico para numérico

In [ ]:
from sklearn.preprocessing import LabelBinarizer

teste = LabelBinarizer().fit_transform(df['Capital'])

new_df = pd.DataFrame(teste)

df_final = pd.concat([df,new_df],axis=1) # concatena na coluna com axis=1, default axis=0

df_final = df_final.drop('Capital',axis=1)

df_final