<a href="https://colab.research.google.com/github/tmoura/softexIA/blob/main/3_MiniTutorial_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Minicurso de Pandas

Carregamento dos Dados

In [3]:
import pandas as pd

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

url = "https://raw.githubusercontent.com/tmoura/machinelearning/master/iris.data"

df = pd.read_csv(url, header=None) # Carregar dataset

Criando um DataFrame

In [32]:
data = {
'País': ['Bélgica', 'Índia', 'Brasil'],
'Capital': ['Bruxelas', 'Nova Delhi', 'Brasília'],
'População': [123465, 456789, 987654]
}

df = pd.DataFrame(data, columns=['País','Capital','População'])

df

      País     Capital  População
0  Bélgica    Bruxelas     123465
1    Índia  Nova Delhi     456789
2   Brasil    Brasília     987654

Informações sobre o dataset

In [ ]:
df.info()

Descrição do dataset

In [ ]:
df.describe()

Dimensão do dataset

In [ ]:
df.shape

Pegar apenas algumas linhas do DF

In [ ]:
df.head(5) # mostra apenas as 5 primeiras linhas
df.head()  # mostra apenas as 5 primeiras linhas

Descrição dos ÍNDICES e COLUNAS

In [ ]:
print(df.index)

print(df.columns)

Uso do "loc" e "iloc"

loc é usado para selecionarmos linhas e colunas usando o label

iloc é usado para cessar as linhas e colunas pelo índice

In [ ]:
print(df.columns.values, '\n')

print(df.loc[:,'Capital'], '\n') # qualquer linha, coluna Capital
print(df.loc[1,'Capital'], '\n') # todas as colunas da linha 1, igual a "df.loc[1,:]"

print(df.iloc[:,1], '\n') # qualquer linha, coluna 1
print(df.iloc[1,1], '\n') # todas as colunas da linha 1

Removendo linhas/colunas

In [ ]:
#df.drop('Capital') #ERRO
df.drop('Capital',axis=1) # Apaga a coluna 'Capital' inteira

df.drop(1) # Apaga a linha 1 inteira