<a href="https://colab.research.google.com/github/tmoura/softexIA/blob/main/7_aula_completa_penguins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Carregamento do Dataset

In [2]:
import pandas as pd
from seaborn import load_dataset

# Carregar base de dados
df = load_dataset('penguins')

### Analisando as informações do dataset

In [ ]:
df.info()

print('--------------')
print('Shape-->',df.shape)
print('--------------')

df.describe()

### Remover o NaN

In [4]:
# Por padrão o dropna() remove linhas que tenham NaN. É possível remover uma coluna inteira trocando o valor do parâmetro 'axis' para 1
# Exemplo: df = df.dropna(axis=1)

df = df.dropna()

### Converter Coluna 'island' e 'sex' usando ONE-HOT Encoding

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

column_transformer = make_column_transformer((OneHotEncoder(), ['island','sex']), remainder='passthrough')

df = column_transformer.fit_transform(df)

df = pd.DataFrame(data=df)

df

### Converter a classe com LabelEncoding

In [ ]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df[5]= label_encoder.fit_transform(df[5])

df

### Separar y e X

In [7]:
y = df[5]

X = df.drop(5,axis=1)

### Separar dados para treinamento e teste

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None, stratify=y) # 80% treino e 20% teste

### Treinar Modelos

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

model1 = DecisionTreeClassifier(criterion="entropy")
model2 = KNeighborsClassifier(n_neighbors=7, metric='euclidean', algorithm='brute')
model3 = DecisionTreeClassifier(criterion="entropy", max_depth=2)

model1.fit(X_train, y_train)
model2.fit(X_train, y_train)
model3.fit(X_train, y_train)

### Medir o Desempenho

In [ ]:
from sklearn import metrics

result1 = model1.predict(X_test)
result2 = model2.predict(X_test)
result3 = model3.predict(X_test)

acc1 = metrics.accuracy_score(result1, y_test)
show1 = round(acc1 * 100)
print("{}%".format(show1))

acc2 = metrics.accuracy_score(result2, y_test)
show2 = round(acc2 * 100)
print("{}%".format(show2))

acc3 = metrics.accuracy_score(result3, y_test)
show3 = round(acc3 * 100)
print("{}%".format(show3))